@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Roboto", system-ui, sans-serif;
		@apply text-slate-900 bg-primary-100  antialiased;
	}

	body {
		@apply min-h-screen;
	}

	h1 {
		@apply text-4xl font-bold tracking-tight;
	}

	h2 {
		@apply text-2xl font-semibold tracking-tight;
	}

	h3 {
		@apply text-xl font-semibold;
	}

	p {
		@apply leading-7 p-0 m-0;
	}

	a {
		@apply text-blue-600 hover:text-blue-700 underline-offset-4;
	}

	a:hover {
		@apply underline;
	}
}
